.singlepost {
  flex: 9;
}

.singlepostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlepostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 28px;
}
.singlepostEdit {
  float: right;
}

.singlepostIcon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}

.singlepostIcon:first-child {
  color: teal;
}

.singlepostIcon:last-child {
  color: red;
}


.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', 'sans-serif';
    font-size: 16px;
    color: #b39656;
}

.singlepostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlepostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}