.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.5),
      rgba(250, 250, 250, 0.8)
    ),
    url("https://images.unsplash.com/photo-1501504905252-473c47e087f8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YmxvZ3xlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  align-items: center;
}

.registerTitle {
  font-size: 50px;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.registerForm label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: #fff;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.8rem;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
}
