.top {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.top-left,
.top-right {
  flex: 3;
  display: flex;
  align-items: center;
}

.top-icon {
  font-size: 20px;
  margin: 10px;
  color: #444;
  cursor: pointer;
}

.top-center {
  flex: 6;
}

.top-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.top-list-item {
  margin-right: 20px;
  font-weight: 300;
  cursor: pointer;
  font-size: 18px;
}

.top-search-icon {
  font-size: 18px;
  cursor: pointer;
  color: #666;
  margin-left: 15px;
}

.top-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
