.header{
    margin-top: 60px;
    width: 100%;
    

}

.header-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
    position: relative;

}

.header-titlesm{
    position: absolute;
    top: 18%;
    font-size: 20px;

}

.header-titleLg{
    position: absolute;
    top: 20px;
    font-size: 100px;
}

.header-img{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}