.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.sidebar img{
    width: 100%;
    margin-top: 15px;
}

.sidebar-item p{
    padding: 30px;
}
.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
   

}

.sidebar-list{
    list-style: none;
    margin-bottom: 30px;

}

.sidebar-list-item{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebar-socials{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-icon{
 font-size:16px;
 margin-left: 10px;   
 cursor: pointer;
}